<% include partials/header %>

    <div class="container">
        <form action="/blog" method="POST">
            <div class="form-group">
                <label for="BlogImageId">Enter Image URL</label>
                <input type="text" class="form-control" name="blog[image]" id="BlogImageId" placeholder="Enter Image URL" required>
            </div>
            <div class="form-group">
                <label for="BlogTitleId">Title</label>
                <input type="text" class="form-control" name="blog[title]" id="BlogTitleId" placeholder="Enter Title" required>
            </div>
            <div class="form-group">
                <label for="BlogAuthorId">Author</label>
                <input type="text" class="form-control" name="blog[author]" id="BlogAuthorId" placeholder="Enter Author" required>
            </div>
            <div class="form-group">
                <label for="BlogBodyId">Write Your Blog Post:</label>
                <textarea class="form-control" id="BlogBodyId" name="blog[body]" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<% include partials/footer %>